<div class="container-fluid">
  <h1>Iniciar Sesion</h1>
  <form method="post" action="/login" onsubmit="return infoUser()">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Nombre de usuario</label>
      <input
        id="input-usuario"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su usuario"
        name="usuario"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Constrase単a</label>
      <input
        id="input-constrase単a"
        type="password"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su constrase単a"
        name="constrase単a"
      />
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>