<div class="container-fluid">
  <h1>Registrarse</h1>
  <form method="post" action="/signup" onsubmit="return infoUser()">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Nombre de usuario</label>
      <input
        id="input-usuario"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su usuario"
        name="usuario"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Contrase単a</label>
      <input
        id="input-contrase単a"
        type="password"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su contrase単a"
        name="contrase単a"
      />
    </div>
    <button type="submit" class="btn btn-secondary">Signup</button>
  </form>
  <button href="./login" class="btn btn-secondary">Login</button>
</div>