<div class="container-fluid">
  <h1>Signup fail, El usuario ya existe o ingrese datos correctos</h1>
  <button class="btn btn-secondary" href="/signup">Reintentar</button>
</div>
<script>
  const timer = () => { setTimeout(() => { location.href = '/signup' }, 5000); }
  timer()
</script>